.com-simkb {
	display: inline-block;
	text-align: center;
	word-spacing: -100%;
	word-wrap: break-word;
	word-break: break-all;

	height: 100%;
	width: 100%;

	box-sizing: border-box;
	padding: 2rem 0;

	font-family: Consolas;
}

.com-simkb .input {
	width: 100%;
}

.com-simkb .keyset {
	display: inline-block;
	width: auto;
	margin-top: 1rem;
}

.com-simkb .key {
	display: inline-block;
	
	padding: 1em 0;
	margin: 0.2em;

	width: 3em;

	box-sizing: border-box;

	border-radius: 2px;
	border: 1px solid black;

	text-align: center;
	
	cursor: pointer;
	color: #404040;
	background: white;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;

	box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.com-simkb .key.release {
	transition: color 0.5s, background 0.5s;
	color: #404040;
	background: white;
}

.com-simkb .key.active {
	background: black;
	color: #CCCCCC;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 899px) {
	.com-simkb {
		font-size: 80%;
	}
}

@media only screen and (max-width: 719px) {
	.com-simkb {
		font-size: 50%;
	}
}

@media only screen and (max-width: 479px) {
	.com-simkb {
		font-size: 40%;
	}
}

@media only screen and (max-width: 359px) {
	.com-simkb {
		font-size: 30%;
	}
}
