.com-simkb {
	display: inline-block;
	text-align: center;
	word-spacing: -100%;
	word-wrap: break-word;
	word-break: break-all;

	font-family: Consolas;
}

.com-simkb .input {
	position: relative;

	font-family: Consolas;
	font-weight: bold;

	margin-bottom: 1em;
	font-size: 1.5rem;

	ime-mode: disabled;

	text-align: left;

	cursor: default;

	/*-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;*/

	word-spacing: normal;
}

.com-simkb .value {
	display: inline-block;
	height: 100%;
	width: 100%;
	line-height: 120%;
}

.com-simkb .line {
	position: relative;
	display: inline-block;
	max-width: 100%;
	padding: 0 0.2em;
}

.com-simkb .lineno {
	position: absolute;
	
	top: 0;
	font-family: Consolas;

	opacity: 0;
	font-size: 0.6em;

	color: #999999;
}

.com-simkb .line .cursor+.inverted {
	color: white;
}

.com-simkb .line .cursor.hide+.inverted {
	color: inherit;
}

.com-simkb .char {
	position: absolute;
	visibility: hidden;
}

.com-simkb .cursor {
	display: inline-block;
	
	height: 2px;

	background: black;

	opacity: 1;

	vertical-align: text-bottom;
}

.com-simkb .cursor.trans {
	transition: opacity 0.2s;
}

.com-simkb .cursor.hide {
	opacity: 0;
}

.com-simkb .key {
	display: inline-block;
	
	padding: 1em 0;
	margin: 0.2em;

	width: 3em;

	box-sizing: border-box;

	border-radius: 2px;
	border: 1px solid black;

	text-align: center;
	
	cursor: pointer;
	color: #404040;
	background: white;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;

	box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.com-simkb .key.release {
	transition: color 0.5s, background 0.5s;
	color: #404040;
	background: white;
}

.com-simkb .key.active {
	background: black;
	color: #CCCCCC;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 899px) {
	.com-simkb {
		font-size: 80%;
	}
}

@media only screen and (max-width: 719px) {
	.com-simkb {
		font-size: 50%;
	}
}

@media only screen and (max-width: 479px) {
	.com-simkb {
		font-size: 40%;
	}
}

@media only screen and (max-width: 359px) {
	.com-simkb {
		font-size: 30%;
	}
}
